@import url(https://stykh.github.io/zeldacons/css/sizing.core.css);
@import url(https://stykh.github.io/zeldacons/css/animations.core.css);

@import url(https://stykh.github.io/zeldacons/css/majoras-mask.icons.css);